<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="Microsoft.PowerPlatform.Dataverse.ConnectControl" switchName="Microsoft.PowerPlatform.Dataverse.ConnectControl" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.DefaultTraceListener" />
          <remove name="Default" />
          <add name="fileListener" />
        </listeners>
      </source>

      <source name="Microsoft.PowerPlatform.Dataverse.WebResourceUtility" switchName="Microsoft.PowerPlatform.Dataverse.WebResourceUtility" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.DefaultTraceListener" />
          <remove name="Default" />
          <add name="fileListener" />
        </listeners>
      </source>
      
    <!-- WCF DEBUG SOURCES -->
      <source name="System.IdentityModel" switchName="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <!-- Log all messages in the 'Messages' tab of SvcTraceViewer. -->
      <source name="System.ServiceModel.MessageLogging" switchName="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <!-- ActivityTracing and propogateActivity are used to flesh out the 'Activities' tab in
           SvcTraceViewer to aid debugging. -->
      <source name="System.ServiceModel" switchName="System.ServiceModel" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <!-- END WCF DEBUG SOURCES -->
      <source name="Microsoft.Identity.Client" switchName="Microsoft.Identity.Client" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.DefaultTraceListener" />
          <remove name="Default" />
          <!--<add name="MSALListener" />-->
          <add name="fileListener" />
       </listeners>
     </source>
    </sources>
    <switches>
      <!-- 
            Possible values for switches: Off, Error, Warining, Info, Verbose
                Verbose:    includes Error, Warning, Info, Trace levels
                Info:       includes Error, Warning, Info levels
                Warning:    includes Error, Warning levels
                Error:      includes Error level
        -->
      <add name="Microsoft.PowerPlatform.Dataverse.Connector.CrmServiceClient" value="Verbose" />
      <add name="Microsoft.PowerPlatform.Dataverse.ConnectControl" value="Verbose" />
      <add name="Microsoft.PowerPlatform.Dataverse.WebResourceUtility" value="Verbose" />
      <add name="System.IdentityModel" value="Verbose" />
      <add name="System.ServiceModel.MessageLogging" value="Verbose" />
      <add name="System.ServiceModel" value="Error, ActivityTracing" />
      <add name="Microsoft.Identity.Client" value="Verbose" />

    </switches>
    <sharedListeners>
      <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="LoginControlTesterLog.txt" />
      <!--<add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="CRM UII"/>-->
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="CrmToolBox.svclog" />
      <add name="MSALListener" type="Microsoft.PowerPlatform.Dataverse.Connector.DynamicsFileLogTraceListener, Microsoft.PowerPlatform.Dataverse.Connector" BaseFileName="ADAL" Location="LocalUserApplicationDirectory" MaxFileSize="52428800" />
    </sharedListeners>
  </system.diagnostics>

  <appSettings>
    <!--<add key="SkipDiscovery" value="true"/>-->

    <!-- Used for in memory log collection -->
    <!--
      <add key="InMemoryLogCollectionEnabled" value="false"/>
      <add key="InMemoryLogCollectionTimeOutMinutes" value="1"/>
    -->
    <add key="MSALLogPII" value="true" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
